*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
address {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
}

textarea,
select,
input {
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}

label {
  display: inline-block;
}

button {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}

button,
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

.link {
  font-size: inherit;
  position: relative;
}
.link::after {
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  content: "";
  bottom: -0.25rem;
  left: 50%;
  height: 0.125rem;
  width: 0;
  background-color: #ffffff;
}
html:not([data-fls-touch]) .link:hover::after {
  width: 100%;
  left: 0;
}

.button-white {
  font-size: 0.8125rem;
  padding-inline: 0.8125rem;
  padding-block: 0.5625rem;
  -webkit-transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
  transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
  border: 0.0625rem solid #ffffff;
}
html:not([data-fls-touch]) .button-white:hover {
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.3125rem;
}

.button-black {
  font-size: 0.875rem;
  padding-inline: 3.0625rem;
  padding-block: 0.625rem;
  display: block;
  color: #000000;
  margin-inline: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media (min-width: 65.625em) {
  .button-black {
    margin-top: 140px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .button-black {
    margin-top: clamp( 40px , -3.8356164384px  +  13.698630137vw , 140px );
  }
}
@media (max-width: 20em) {
  .button-black {
    margin-top: 40px;
  }
}
.button-black {
  -webkit-transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
  transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
  border: 0.0625rem solid #000000;
}
html:not([data-fls-touch]) .button-black:hover {
  background-color: #000000;
  color: #ffffff;
  border-radius: 0.3125rem;
}

.title {
  text-align: center;
  font-size: 2.25rem;
}

.title-large {
  text-align: center;
  font-size: 1.875rem;
}

.title-medium {
  text-align: center;
  font-size: 1.5rem;
}

.title-small {
  text-align: center;
  font-size: 1.25rem;
}

.border-block {
  border-top: 0.0625rem solid #837F7F;
}
@media (min-width: 65.625em) {
  .border-block {
    padding-top: 71px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .border-block {
    padding-top: clamp( 30px , 12.0273972603px  +  5.6164383562vw , 71px );
  }
}
@media (max-width: 20em) {
  .border-block {
    padding-top: 30px;
  }
}

@media (min-width: 65.625em) {
  .first-section {
    padding-top: 212px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .first-section {
    padding-top: clamp( 135px , 101.2465753425px  +  10.5479452055vw , 212px );
  }
}
@media (max-width: 20em) {
  .first-section {
    padding-top: 135px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15.6875rem), 1fr));
  row-gap: 1.5625rem;
}
@media (min-width: 75em) {
  .cards {
    -webkit-column-gap: 115px;
       -moz-column-gap: 115px;
            column-gap: 115px;
  }
}
@media (min-width: 62em) and (max-width: 75em) {
  .cards {
    -webkit-column-gap: clamp( 25px , -404.2307692308px  +  43.2692307692vw , 115px );
       -moz-column-gap: clamp( 25px , -404.2307692308px  +  43.2692307692vw , 115px );
            column-gap: clamp( 25px , -404.2307692308px  +  43.2692307692vw , 115px );
  }
}
@media (max-width: 62em) {
  .cards {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}
.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
  aspect-ratio: 251/315;
  color: #ffffff;
}
.cards__picture {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.cards__picture::after {
  content: "";
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.cards__subtitle {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-size: 1.75rem;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 1.25rem;
}
.cards__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.cards__link {
  display: block;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.5625rem;
  padding-bottom: 0.75rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}
.cards__link::after {
  content: "";
  display: block;
  height: 0.0625rem;
  position: absolute;
  top: 1.25rem;
  left: 0;
  background-color: transparent;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 100%;
}
@media (width > 34.8125em) {
  .cards__link {
    font-size: 1.0625rem;
  }
}
html:not([data-fls-touch]) .cards__link:hover::after {
  background-color: #ffffff;
}

.cards-info--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 65.625em) {
  .cards-info {
    padding-top: 90px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .cards-info {
    padding-top: clamp( 30px , 3.698630137px  +  8.2191780822vw , 90px );
  }
}
@media (max-width: 20em) {
  .cards-info {
    padding-top: 30px;
  }
}
.cards-info {
  display: grid;
  width: 100%;
}
@media (min-width: 65.625em) {
  .cards-info {
    -webkit-column-gap: 92px;
       -moz-column-gap: 92px;
            column-gap: 92px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .cards-info {
    -webkit-column-gap: clamp( 30px , 2.8219178082px  +  8.4931506849vw , 92px );
       -moz-column-gap: clamp( 30px , 2.8219178082px  +  8.4931506849vw , 92px );
            column-gap: clamp( 30px , 2.8219178082px  +  8.4931506849vw , 92px );
  }
}
@media (max-width: 20em) {
  .cards-info {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
.cards-info {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 12.5rem), 20%));
}
@media (width < 33.4375em) {
  .cards-info {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 65.625em) {
  .cards-info {
    row-gap: 100px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .cards-info {
    row-gap: clamp( 30px , -0.6849315068px  +  9.5890410959vw , 100px );
  }
}
@media (max-width: 20em) {
  .cards-info {
    row-gap: 30px;
  }
}
@media (min-width: 65.625em) {
  .cards-info--other-products {
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .cards-info--other-products {
    -webkit-column-gap: clamp( 20px , 9.0410958904px  +  3.4246575342vw , 45px );
       -moz-column-gap: clamp( 20px , 9.0410958904px  +  3.4246575342vw , 45px );
            column-gap: clamp( 20px , 9.0410958904px  +  3.4246575342vw , 45px );
  }
}
@media (max-width: 20em) {
  .cards-info--other-products {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.cards-info--other-products {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15.1875rem), 20%));
}
@media (width < 34em) {
  .cards-info--other-products {
    grid-template-columns: 1fr;
  }
}
.cards-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}
html:not([data-fls-touch]) .cards-info__item:hover figcaption {
  color: #837F7F;
}
html:not([data-fls-touch]) .cards-info__item:hover .cards-info__picture::after {
  opacity: 0.3;
}
.cards-info__item figcaption {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 1.1875rem;
  line-height: 1.4;
  text-transform: capitalize;
}
.cards-info__picture {
  width: 100%;
  position: relative;
}
.cards-info__picture::after {
  content: "";
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0;
}
.cards-info__img {
  background-color: #837F7F;
  display: block;
  position: relative;
  width: 100%;
  min-width: 0;
  height: 100%;
  aspect-ratio: 200/208;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards-info__img--other-products {
  aspect-ratio: 243/241;
}

.cards-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 75em) {
  .cards-list {
    padding-inline: 36px;
  }
}
@media (min-width: 62em) and (max-width: 75em) {
  .cards-list {
    padding-inline: clamp( 0.000001px , -171.6923019231px  +  17.3076918269vw , 36px );
  }
}
@media (max-width: 62em) {
  .cards-list {
    padding-inline: 0.000001px;
  }
}
.cards-list {
  min-height: 0;
}
.cards-list--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cards-list--row-swiper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.cards-list--row {
  overflow-x: auto;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
@media (width < 48.75em) {
  .cards-list--row {
    padding-inline: 0.9375rem;
    margin-inline: -0.9375rem;
  }
}
.cards-list__option {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html:not([data-fls-touch]) .cards-list__option:hover {
  color: #837F7F;
}
.cards-list__link--active {
  position: relative;
  padding-bottom: 0.625rem;
}
.cards-list__link--active::after {
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  content: "";
  left: -20%;
  bottom: 0;
  height: 0.0625rem;
  width: 140%;
  background-color: #000000;
}

@media (min-width: 65.625em) {
  .bread-crumbs {
    padding-top: 166px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .bread-crumbs {
    padding-top: clamp( 100px , 71.0684931507px  +  9.0410958904vw , 166px );
  }
}
@media (max-width: 20em) {
  .bread-crumbs {
    padding-top: 100px;
  }
}
.bread-crumbs {
  color: #ABABAB;
  margin-bottom: 1.1875rem;
}
html:not([data-fls-touch]) .bread-crumbs__item:hover {
  text-decoration: underline;
}
.bread-crumbs__item:not(:last-child)::after {
  content: "/";
  font-weight: 900;
}

div [class*=__container--wide] {
  max-width: 71.3125rem;
}

.hero {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}
.hero__picture {
  position: absolute;
  z-index: -1;
  display: block;
  height: 100%;
  width: 100%;
}
.hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  aspect-ratio: 1200/750;
}
.hero__container {
  padding-top: 9rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.hero__body {
  margin: 0 auto;
}
@media (width > 37.5em) {
  .hero__body {
    margin-left: unset;
    margin-right: 3.4375rem;
  }
}
.hero__body {
  padding-top: 3.4375rem;
  max-width: 22.25rem;
  text-align: center;
  padding-bottom: 1.25rem;
}
.hero__title {
  font-size: 2.9375rem;
  margin-bottom: 1.5rem;
}
.hero__text {
  font-size: 0.875rem;
  margin-bottom: 5rem;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__title {
  text-align: center;
}
@media (min-width: 65.625em) {
  .about__title {
    margin-bottom: 115px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .about__title {
    margin-bottom: clamp( 50px , 21.5068493151px  +  8.904109589vw , 115px );
  }
}
@media (max-width: 20em) {
  .about__title {
    margin-bottom: 50px;
  }
}
.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}
@media (width < 40.625em) {
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 1.875rem;
  }
}
.about__picture {
  width: 32.5;
}
.about__img {
  aspect-ratio: 317/485;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__link {
  -ms-flex-item-align: center;
      align-self: center;
}

.info-about__title {
  margin-bottom: 2.1875rem;
}
.info-about__text {
  max-width: 28.125rem;
}
.info-about__text p:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info__title {
  text-align: center;
}
@media (min-width: 65.625em) {
  .info__title {
    margin-bottom: 31px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .info__title {
    margin-bottom: clamp( 20px , 15.1780821918px  +  1.5068493151vw , 31px );
  }
}
@media (max-width: 20em) {
  .info__title {
    margin-bottom: 20px;
  }
}
.info__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
html:not([data-fls-touch]) .info__link:hover {
  color: #837F7F;
}
.info__link--active {
  position: relative;
}
.info__link--active::after {
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  content: "";
  bottom: -0.625rem;
  left: -20%;
  height: 0.0625rem;
  width: 140%;
  background-color: #000000;
}

.blogs__title {
  font-size: 2.25rem;
  text-align: center;
}
@media (min-width: 65.625em) {
  .blogs__title {
    margin-bottom: 67px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .blogs__title {
    margin-bottom: clamp( 35px , 20.9726027397px  +  4.3835616438vw , 67px );
  }
}
@media (max-width: 20em) {
  .blogs__title {
    margin-bottom: 35px;
  }
}

.about-page__title {
  font-size: 1.5rem;
  text-align: center;
}
@media (min-width: 65.625em) {
  .about-page__title {
    margin-bottom: 94px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .about-page__title {
    margin-bottom: clamp( 30px , 1.9452054795px  +  8.7671232877vw , 94px );
  }
}
@media (max-width: 20em) {
  .about-page__title {
    margin-bottom: 30px;
  }
}
.about-page__text {
  text-align: center;
  max-width: 46.25rem;
  margin: 0 auto;
}
@media (min-width: 65.625em) {
  .about-page__text {
    margin-bottom: 94px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .about-page__text {
    margin-bottom: clamp( 30px , 1.9452054795px  +  8.7671232877vw , 94px );
  }
}
@media (max-width: 20em) {
  .about-page__text {
    margin-bottom: 30px;
  }
}
.about-page__text span:not(:last-child) {
  margin-bottom: 0.625rem;
}
.about-page__subtitle {
  text-align: center;
  font-size: 0.875rem;
}

@media (min-width: 65.625em) {
  .blogs-page__title {
    margin-bottom: 66px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .blogs-page__title {
    margin-bottom: clamp( 30px , 14.2191780822px  +  4.9315068493vw , 66px );
  }
}
@media (max-width: 20em) {
  .blogs-page__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 65.625em) {
  .blogs-item:not([class*="--nomargin"]) {
    margin-bottom: 43px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .blogs-item:not([class*="--nomargin"]) {
    margin-bottom: clamp( 35px , 31.4931506849px  +  1.095890411vw , 43px );
  }
}
@media (max-width: 20em) {
  .blogs-item:not([class*="--nomargin"]) {
    margin-bottom: 35px;
  }
}
.blogs-item:not([class*="--noborder"]) {
  border-bottom: 0.0625rem solid #837F7F;
}
@media (min-width: 65.625em) {
  .blogs-item {
    padding-bottom: 66px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .blogs-item {
    padding-bottom: clamp( 30px , 14.2191780822px  +  4.9315068493vw , 66px );
  }
}
@media (max-width: 20em) {
  .blogs-item {
    padding-bottom: 30px;
  }
}
@media (min-width: 65.625em) {
  .blogs-item__title {
    margin-bottom: 48px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .blogs-item__title {
    margin-bottom: clamp( 30px , 22.1095890411px  +  2.4657534247vw , 48px );
  }
}
@media (max-width: 20em) {
  .blogs-item__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 65.625em) {
  .information__subtitle {
    margin-bottom: 45px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .information__subtitle {
    margin-bottom: clamp( 25px , 16.2328767123px  +  2.7397260274vw , 45px );
  }
}
@media (max-width: 20em) {
  .information__subtitle {
    margin-bottom: 25px;
  }
}
@media (min-width: 65.625em) {
  .information__title {
    margin-bottom: 79px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .information__title {
    margin-bottom: clamp( 30px , 8.5205479452px  +  6.7123287671vw , 79px );
  }
}
@media (max-width: 20em) {
  .information__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 65.625em) {
  .information .information__item:not([class*="--nomargin"]) {
    margin-bottom: 43px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .information .information__item:not([class*="--nomargin"]) {
    margin-bottom: clamp( 35px , 31.4931506849px  +  1.095890411vw , 43px );
  }
}
@media (max-width: 20em) {
  .information .information__item:not([class*="--nomargin"]) {
    margin-bottom: 35px;
  }
}
.information .information__item:not([class*="--noborder"]) {
  border-bottom: 0.0625rem solid #837F7F;
}
@media (min-width: 65.625em) {
  .information .information__item {
    padding-bottom: 66px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .information .information__item {
    padding-bottom: clamp( 30px , 14.2191780822px  +  4.9315068493vw , 66px );
  }
}
@media (max-width: 20em) {
  .information .information__item {
    padding-bottom: 30px;
  }
}

.info-item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 65.625em) {
  .info-item__container {
    -webkit-column-gap: 54px;
       -moz-column-gap: 54px;
            column-gap: 54px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .info-item__container {
    -webkit-column-gap: clamp( 20px , 5.095890411px  +  4.6575342466vw , 54px );
       -moz-column-gap: clamp( 20px , 5.095890411px  +  4.6575342466vw , 54px );
            column-gap: clamp( 20px , 5.095890411px  +  4.6575342466vw , 54px );
  }
}
@media (max-width: 20em) {
  .info-item__container {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (width < 45.875em) {
  .info-item__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.info-item__text {
  max-width: 32.9375rem;
}
.info-item__title {
  line-height: 1.23;
  margin-bottom: 2rem;
  text-align: left;
  position: relative;
}
.info-item__title::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  width: 100%;
  height: 0.0625rem;
  background-color: #DADADA;
  left: 0;
}
.info-item__sub-title {
  font-size: 1.0625rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.5rem;
}
.info-item__list {
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2.3125rem;
}
.info-item__point {
  margin-left: 1.25rem;
  list-style: unset;
  margin-bottom: 0.625rem;
}
.info-item__paragrapf {
  font-family: "Roboto", sans-serif;
}
@media (min-width: 65.625em) {
  .info-item__paragrapf {
    margin-bottom: 47px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .info-item__paragrapf {
    margin-bottom: clamp( 25px , 15.3561643836px  +  3.0136986301vw , 47px );
  }
}
@media (max-width: 20em) {
  .info-item__paragrapf {
    margin-bottom: 25px;
  }
}
.info-item__picture {
  display: block;
  width: 80%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (width > 45.875em) {
  .info-item__picture {
    width: 50.12%;
  }
}
.info-item__img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (width > 45.875em) {
  .info-item__img {
    aspect-ratio: 493/409;
  }
}

.swiper {
  padding-bottom: 50px;
}

.swiper-wrapper {
  margin-bottom: 2.9375rem;
}
@media (width < 34em) {
  .swiper-wrapper {
    margin-bottom: 4.375rem;
  }
}

.swiper-slide {
  min-height: 0;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75rem;
}

.swiper .swiper-pagination-bullet {
  width: 0.625rem;
  height: 0.625rem;
}
@media (width < 34em) {
  .swiper .swiper-pagination-bullet {
    height: 30px;
    width: 30px;
  }
}

.swiper .swiper-pagination-bullet-active {
  background-color: #676767;
}

@media (min-width: 65.625em) {
  .contact-page__title {
    margin-bottom: 95px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .contact-page__title {
    margin-bottom: clamp( 40px , 15.8904109589px  +  7.5342465753vw , 95px );
  }
}
@media (max-width: 20em) {
  .contact-page__title {
    margin-bottom: 40px;
  }
}
.contact-page__block {
  display: grid;
  font-size: 1.125rem;
  row-gap: 1.9375rem;
  max-width: 25rem;
}
.contact-page__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  row-gap: 1.9375rem;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
@media (min-width: 65.625em) {
  .contact-page__body {
    margin-bottom: 282px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .contact-page__body {
    margin-bottom: clamp( 70px , -22.9315068493px  +  29.0410958904vw , 282px );
  }
}
@media (max-width: 20em) {
  .contact-page__body {
    margin-bottom: 70px;
  }
}
@media (width < 25em) {
  .contact-page__body {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}
.contact-page__link::after {
  background-color: #000000;
}
.contact-page__footer {
  text-align: center;
}

.combs__main-picture {
  width: 100%;
}
.combs__main-img {
  aspect-ratio: 1200/474;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.combs__container {
  padding-top: 2.3125rem;
}
.info-combs__title {
  font-size: 1.5625rem;
  margin-bottom: 1.75rem;
}
@media (min-width: 65.625em) {
  .info-combs__text {
    margin-bottom: 69px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .info-combs__text {
    margin-bottom: clamp( 30px , 12.904109589px  +  5.3424657534vw , 69px );
  }
}
@media (max-width: 20em) {
  .info-combs__text {
    margin-bottom: 30px;
  }
}
.info-combs__text {
  font-family: "Roboto", sans-serif;
}
.info-combs__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}
.info-combs__list {
  font-family: "Roboto", sans-serif;
  list-style-position: outside;
}
.info-combs__list li {
  margin-left: 1.375rem;
}
@media (min-width: 65.625em) {
  .info-combs__list li:not(:last-child) {
    margin-bottom: 94px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .info-combs__list li:not(:last-child) {
    margin-bottom: clamp( 40px , 16.3287671233px  +  7.397260274vw , 94px );
  }
}
@media (max-width: 20em) {
  .info-combs__list li:not(:last-child) {
    margin-bottom: 40px;
  }
}
.info-combs__list li {
  list-style: unset;
  position: relative;
}
.info-combs__list li::marker {
  font-size: 1.375rem;
  position: absolute;
  right: -30px;
  font-family: inherit;
  z-index: -2;
}

.combs-items__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
}
@media (min-width: 65.625em) {
  .combs-items__title {
    margin-bottom: 64px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .combs-items__title {
    margin-bottom: clamp( 30px , 15.095890411px  +  4.6575342466vw , 64px );
  }
}
@media (max-width: 20em) {
  .combs-items__title {
    margin-bottom: 30px;
  }
}
.combs-items__picture {
  width: 70%;
}
@media (width > 37.5em) {
  .combs-items__picture {
    width: 50.69%;
  }
}
.combs-items__picture {
  margin: 0 auto;
}
@media (min-width: 65.625em) {
  .combs-items__picture {
    margin-bottom: 64px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .combs-items__picture {
    margin-bottom: clamp( 30px , 15.095890411px  +  4.6575342466vw , 64px );
  }
}
@media (max-width: 20em) {
  .combs-items__picture {
    margin-bottom: 30px;
  }
}
.combs-items__img {
  width: 100%;
  height: 100%;
  display: block;
  aspect-ratio: 514/514;
  -o-object-fit: cover;
     object-fit: cover;
}
.combs-items__mark {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.625rem;
  font-style: normal;
  display: block;
}
.combs-items__subtitle {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.625rem;
  font-weight: 600;
}
.combs-items__text {
  font-family: "Roboto", sans-serif;
}
.combs-items__text p:not(:last-child) {
  margin-bottom: 1.625rem;
}

body {
  font-family: "Playfair Display", sans-serif;
  line-height: 1.2;
}

[data-burger] body {
  overflow: hidden;
}

@media (min-width: 65.625em) {
  .page > *:not([class*="--nopadding"]) [class*=__container] {
    padding-bottom: 100px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .page > *:not([class*="--nopadding"]) [class*=__container] {
    padding-bottom: clamp( 30px , -0.6849315068px  +  9.5890410959vw , 100px );
  }
}
@media (max-width: 20em) {
  .page > *:not([class*="--nopadding"]) [class*=__container] {
    padding-bottom: 30px;
  }
}
@media (min-width: 65.625em) {
  .page > *:not([class*="--nomargin"]) {
    margin-bottom: 63px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .page > *:not([class*="--nomargin"]) {
    margin-bottom: clamp( 35px , 22.7260273973px  +  3.8356164384vw , 63px );
  }
}
@media (max-width: 20em) {
  .page > *:not([class*="--nomargin"]) {
    margin-bottom: 35px;
  }
}
.page > *:not([class*="--noborder"]) [class*=__container] {
  border-bottom: 0.0625rem solid #837F7F;
}

[class*=__container] {
  max-width: 63.375rem;
  margin: 0 auto;
  padding-inline: 0.9375rem;
  overflow: clip;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: clip;
  min-height: 100%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 50;
}
.header--black {
  color: #000000;
}
.header--black .header__list .link::after {
  background-color: #000000;
}
@media (min-width: 65.625em) {
  .header__container {
    height: 144px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .header__container {
    height: clamp( 74px , 43.3150684932px  +  9.5890410959vw , 144px );
  }
}
@media (max-width: 20em) {
  .header__container {
    height: 74px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  position: relative;
}
.header__logo {
  -ms-flex-preferred-size: 10.5rem;
      flex-basis: 10.5rem;
  position: relative;
  z-index: 2;
}
.header__img {
  display: block;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 168/47;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 75em) {
  .header__list {
    padding-right: 46px;
  }
}
@media (min-width: 56.25em) and (max-width: 75em) {
  .header__list {
    padding-right: clamp( 0.000001px , -137.999996px  +  15.333333vw , 46px );
  }
}
@media (max-width: 56.25em) {
  .header__list {
    padding-right: 0.000001px;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
@media (min-width: 65.625em) {
  .header__list {
    gap: 32px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .header__list {
    gap: clamp( 20px , 14.7397260274px  +  1.6438356164vw , 32px );
  }
}
@media (max-width: 20em) {
  .header__list {
    gap: 20px;
  }
}
@media (width < 39.375em) {
  .header__list {
    padding-right: 0.625rem;
    position: fixed;
    top: 1.25rem;
    left: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: grey;
    width: 100%;
    height: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    row-gap: 1.875rem;
    padding-bottom: 1.875rem;
    overflow: scroll;
  }
}
@media (width < 39.375em) and (min-width: 65.625em) {
  .header__list {
    padding-top: 144px;
  }
}
@media (width < 39.375em) and (min-width: 20em) and (max-width: 65.625em) {
  .header__list {
    padding-top: clamp( 74px , 43.3150684932px  +  9.5890410959vw , 144px );
  }
}
@media (width < 39.375em) and (max-width: 20em) {
  .header__list {
    padding-top: 74px;
  }
}
@media (width < 39.375em) {
  .header__list::after {
    position: fixed;
    content: "";
    width: 100%;
    background-color: #000000;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
}
@media (width < 39.375em) and (min-width: 65.625em) {
  .header__list::after {
    height: 144px;
  }
}
@media (width < 39.375em) and (min-width: 20em) and (max-width: 65.625em) {
  .header__list::after {
    height: clamp( 74px , 43.3150684932px  +  9.5890410959vw , 144px );
  }
}
@media (width < 39.375em) and (max-width: 20em) {
  .header__list::after {
    height: 74px;
  }
}
@media (width < 39.375em) {
  [data-burger] .header__list::after {
    left: 0;
  }
}
.header__list--white::after {
  background-color: #ffffff;
}
[data-burger] .header__list {
  left: 0;
}
@media (width < 39.375em) {
  .header__link {
    font-size: 1.875rem;
  }
}
.header__burger {
  position: relative;
  z-index: 2;
  display: block;
  position: relative;
  width: 2.5rem;
  aspect-ratio: 1;
}
@media (width > 39.375em) {
  .header__burger {
    display: none;
  }
}
.header__burger span {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 0.125rem;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  background-color: #ffffff;
}
[data-burger] .header__burger span {
  width: 0;
}
.header__burger::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.125rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
}
[data-burger] .header__burger::after {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(45deg);
      -ms-transform: translateY(50%) rotate(45deg);
          transform: translateY(50%) rotate(45deg);
}
.header__burger::before {
  position: absolute;
  content: "";
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  left: 0;
  height: 0.125rem;
  background-color: #ffffff;
  top: 0;
}
[data-burger] .header__burger::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.header__burger--black::after, .header__burger--black::before, .header__burger--black span {
  background-color: #000000;
}

.footer {
  background-color: #2F2F2F;
  color: #ffffff;
}
.footer__container {
  padding-top: 2.8125rem;
}
.footer__body h3 {
  font-size: 1.125rem;
}
.footer__body {
  border-top: 0.0625rem solid #ffffff;
  border-bottom: 0.0625rem solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.75rem;
  padding-bottom: 3.875rem;
}
@media (width < 28.125em) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__column {
  padding-top: 0.4375rem;
  position: relative;
}
@media (width > 28.125em) {
  .footer__column {
    padding-bottom: 1.8125rem;
    text-align: center;
  }
}
@media (width > 28.125em) and (min-width: 65.625em) {
  .footer__column {
    -ms-flex-preferred-size: 356px;
        flex-basis: 356px;
  }
}
@media (width > 28.125em) and (min-width: 20em) and (max-width: 65.625em) {
  .footer__column {
    -ms-flex-preferred-size: clamp( 200px , 131.6164383562px  +  21.3698630137vw , 356px );
        flex-basis: clamp( 200px , 131.6164383562px  +  21.3698630137vw , 356px );
  }
}
@media (width > 28.125em) and (max-width: 20em) {
  .footer__column {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }
}
@media (width > 28.125em) and (min-width: 65.625em) {
  .footer__column:nth-child(2) {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
  }
}
@media (width > 28.125em) and (min-width: 20em) and (max-width: 65.625em) {
  .footer__column:nth-child(2) {
    -ms-flex-preferred-size: clamp( 320px , 241.095890411px  +  24.6575342466vw , 500px );
        flex-basis: clamp( 320px , 241.095890411px  +  24.6575342466vw , 500px );
  }
}
@media (width > 28.125em) and (max-width: 20em) {
  .footer__column:nth-child(2) {
    -ms-flex-preferred-size: 320px;
        flex-basis: 320px;
  }
}
@media (width > 28.125em) {
  .footer__column--borders::after {
    content: "";
    top: 0;
    position: absolute;
    display: block;
    left: 0;
    height: 100%;
    width: 0.0625rem;
    background-color: #a09f9f;
  }
  .footer__column--borders::before {
    content: "";
    top: 0;
    position: absolute;
    display: block;
    right: 0;
    height: 100%;
    width: 0.0625rem;
    background-color: #a09f9f;
  }
}
@media (min-width: 65.625em) {
  .footer__title {
    margin-bottom: 25px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .footer__title {
    margin-bottom: clamp( 15px , 10.6164383562px  +  1.3698630137vw , 25px );
  }
}
@media (max-width: 20em) {
  .footer__title {
    margin-bottom: 15px;
  }
}
.footer__title button {
  cursor: default;
}
.footer__info {
  display: block;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  padding-bottom: 0.25rem;
}
@media (width < 28.125em) {
  .footer__info {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 65.625em) {
  .footer__list:not(:last-child) {
    margin-bottom: 59px;
  }
}
@media (min-width: 20em) and (max-width: 65.625em) {
  .footer__list:not(:last-child) {
    margin-bottom: clamp( 30px , 17.2876712329px  +  3.9726027397vw , 59px );
  }
}
@media (max-width: 20em) {
  .footer__list:not(:last-child) {
    margin-bottom: 30px;
  }
}
.footer__list {
  display: grid;
  row-gap: 1.1875rem;
}
.footer__item {
  line-height: 1.3;
}
.footer__arrow {
  width: 1.25rem;
  aspect-ratio: 1;
  display: inline-block;
  -webkit-transition: rotate 0.3s;
  transition: rotate 0.3s;
}
@media (width > 28.125em) {
  .footer__arrow {
    display: none;
  }
}
[data-open-footer] .footer__arrow {
  rotate: -180deg;
}
.footer__link {
  font-size: 0.875rem;
}
.footer__span {
  font-size: 1.125rem;
  display: block;
}
.footer__span--padding {
  padding-inline: 0.625rem;
}
.footer__span--font-size {
  font-size: 0.8125rem;
}
.footer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  padding-block: 1.25rem;
}
.footer__logo {
  width: 6.875rem;
}
.footer__img {
  aspect-ratio: 110/32;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}