@use "_colors" as*;
@use "_reset" as*;
@use "_mixins" as *;
@use "_colors" as *;
@use "_components" as *;


.about-page {

		// .about-page__container

		&__container {
		}

		// .about-page__title

		&__title {
      font-size: toRem(24);
      text-align: center;
      @include adaptiveValue("margin-bottom", 94, 30);
    }

		// .about-page__text

		&__text {
      text-align: center;
      max-width: toRem(740);
      margin: 0 auto;
      @include adaptiveValue("margin-bottom", 94, 30);
      span:not(:last-child) {
        margin-bottom: toRem(10);
      }
		}

		// .about-page__subtitle

		&__subtitle {
      text-align: center;
      font-size: toRem(14);
		}
}

