@use "_colors" as*;
@use "_reset" as*;
@use "_mixins" as *;
@use "_colors" as *;
@use "_components" as *;

.page {

		// .page__contact-page

		&__contact-page {
		}
}
.contact-page {

		// .contact-page__container

		&__container {
		}

		// .contact-page__title

		&__title {
      @include adaptiveValue("margin-bottom", 95, 40);
		}

		// .contact-page__body
    &__block {
      display: grid;
      font-size: toRem(18);
      row-gap: toRem(31);
      max-width: toRem(400);
    }
		&__body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      justify-items: center;
      row-gap: toRem(31);
      column-gap: toRem(20);
      @include adaptiveValue("margin-bottom", 282, 70);
      @media (width < toEm(400)) {
        grid-template-columns: 1fr;
        justify-items: start;
      }
		}

		// .contact-page__link

		&__link {

      &::after {
        background-color: $color-black;
      };
		}

		// .contact-page__footer

		&__footer {
      text-align: center;
		}
}
.first-section {
}
.border-block {
}
.title-large {
}
.link {
}
