@use "_reset";
@use "_mixins" as *;
@use "_colors" as *;
@use "_components" as *;


.info-item {
		// .info-item__container

		&__container {
      display: flex;
      flex-direction: row-reverse;
			align-items: flex-start;
			@include adaptiveValue("column-gap",54, 20);
			@media (width < toEm(734)) {
				flex-direction: column;
				align-items: center;
			}
		}

		// .info-item__text
		&__text {
			max-width: toRem(527);
		}

		// .info-item__title

		&__title {
			line-height: 1.23;
      margin-bottom: toRem(32);
      text-align: left;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: toRem(-4);
        width: 100%;
        height: toRem(1);
        background-color: $under-line;
        left: 0;
      }
		}

		// .info-item__sub-title

		&__sub-title {
			font-size: toRem(17);
			font-weight: 500;
			font-family: "Roboto", sans-serif;
      margin-bottom: toRem(8);
		}

		// .info-item__list

		&__list {
			font-size: toRem(15);
			font-family: "Roboto", sans-serif;
      margin-bottom: toRem(37);
		}

		// .info-item__point

		&__point {
			margin-left: toRem(20);
      list-style: unset;
			margin-bottom: toRem(10);
		}

		// .info-item__paragrapf

		&__paragrapf {
			font-family: "Roboto", sans-serif;

      @include adaptiveValue("margin-bottom", 47, 25);
		}

		// .info-item__picture

		&__picture {
			display: block;
			width: 80%;
			flex-shrink: 0;
			@media (width > toEm(734)) {
				width: 50.12%;
			}	
		}

		&__img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
			@media (width > toEm(734)) {
				aspect-ratio: 493 / 409;
			}
		}
}


.page {

		// .page__other-products

		&__other-products {
		}
}
.products-other {

		// .products-other__container

		&__container {
		}

		// .products-other__container--wide

		&__container--wide {
		}

		// .products-other__title

		&__title {
		}

		// .products-other__swiper

		&__swiper {
		}

		// .products-other__items

		&__items {
		}
}
.info-item--noborder {
}
.swiper {
	padding-bottom: 50px;
}

.products-other__swiper {
}
.swiper-wrapper {
	margin-bottom: toRem(47);
	@media (width < toEm(544)) {
		margin-bottom: toRem(70);
	}
}
.swiper-slide {
	min-height: 0;
	max-height: max-content;
}
.information {

		// .information__cards

		&__cards {
		}
}
.cards-info {

		// .cards-info__block

		&__block {
		}

		// .cards-info__item

		&__item {
		}

		// .cards-info__picture

		&__picture {
		}

		// .cards-info__img

		&__img {
		}
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
	display: flex;
	justify-content: center;
	gap: toRem(12);
}

.swiper .swiper-pagination-bullet {
	width: toRem(10);
	height: toRem(10);
	@media (width < toEm(544)) {
		height: 30px;
		width: 30px;
	}

}

.swiper .swiper-pagination-bullet-active {
	background-color: $pagination;
}
